html {
    color: white;
    background-color: #1f1f1f;
}

h1, h4, p {
    text-align: center
}

a:link {
    color: "#8080FF";
}

a:visited {
    color: "#A040A0";
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}

button {
    display: inline-block;
}
